/**
 * Mediocre reset; do not use on sites of any reasonable size.
 */
* {
    margin:  0;
    padding: 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

/**
 * Single-direction margin declarations:
 * csswizardry.com/2012/06/single-direction-margin-declarations
 */
h1, h2, h3, h4, h5, h6, hgroup,
ul, ol, dl,
blockquote, p, address,
table, fieldset,
figure, pre {
    margin-bottom: 24px;
    margin-bottom: 1.5rem;
}

ul, ol, dd {
    margin-left: 48px;
    margin-left: 3rem;
}

html {
    font: 300 100%/1.5 "Open Sans", sans-serif;
    background-color: #fff;
    color: #444;
}

/**
 * Set up the viewport to which our full-page bands will stick.
 */
html,
body {
    height: 100%;
}

a {
    color: #f43059;
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }

a, b, strong, dt {
    font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    color: #f43059;
}

h1 {
    font-size: 36px;
    font-size: 2.25rem;
    line-height: 1.33333;
}

h2 {
    font-size: 30px;
    font-size: 1.875rem;
    line-height: 1.6;
}

h3 {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1;
}

h4 {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1.2;
}

h5 {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
}

h6 {
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.71429;
}

/**
 * 1. Force small text to honour its `line-height`.
 */
small {
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 2;
    display: inline-block; /* [1] */
    color: #999;
}

img {
    max-width: 100%;
    height: auto;
}

blockquote {
    text-indent: -0.394em;
}

    blockquote p:before {
        content: "“";
    }

    blockquote p:after {
        content: "";
    }

    blockquote p:last-of-type:after {
        content: "”";
    }

    blockquote p:last-of-type {
        margin-bottom: 0;
    }

/**
 * 1. The em dashes in the source are 18px wide, so this will allow us to quasi
 *    hang them.
 */
.source {
    display: block;
    text-indent: -18px; /* [1] */
    padding-left: 18px; /* [1] */
}

    .source:before {
        content: "—";
    }


/**
 * Page constraint.
 *
 * 1. Clear floats. Using this method fixes a weird Firefox `max-width`
 *    issue on images. Bizarre.
 */
.wrapper {
    width: 100%;
    max-width: 1200px;
    padding: 72px 24px 48px;
    margin-right: auto;
    margin-left:  auto;
    overflow: hidden; /* [1] */
}


/**
 * Full-width photo band.
 *
 * 1. Make the band stick to the top and bottom of the viewport.
 *
 * Photo credits:
 * Band 1: Jim Poyner (@jimpoyner)
 * Band 2: Naomi Atkinson (@naomisusi)
 * Band 3: Stefan Nitzsche (@stn1978)
 * Band 4: Naomi Atkinson (@naomisusi)
 */
.band {
    position: relative;
    min-height: 100%; /* [1] */
    background-color: #2a2a2a;
    background-position: center center;
    background-attachment: scroll;
    -webkit-background-size: cover;
       -moz-background-size: cover;
            background-size: cover;
}

.band--01   { background-image: url(img/css/bands/01--small.jpg); }
.band--02   { background-image: url(img/css/bands/02--small.jpg); background-position: right center; }
.band--03   { background-image: url(img/css/bands/03--small.jpg); }
.band--04   { background-image: url(img/css/bands/04--small.jpg); background-position: left center; }

@media screen and (min-width: 480px) {

    .band--01   { background-image: url(img/css/bands/01--medium.jpg); }
    .band--02   { background-image: url(img/css/bands/02--medium.jpg); }
    .band--03   { background-image: url(img/css/bands/03--medium.jpg); }
    .band--04   { background-image: url(img/css/bands/04--medium.jpg); }

}

@media screen and (min-width: 720px) {

    .band--01   { background-image: url(img/css/bands/01--large.jpg); }
    .band--02   { background-image: url(img/css/bands/02--large.jpg); }
    .band--03   { background-image: url(img/css/bands/03--large.jpg); }
    .band--04   { background-image: url(img/css/bands/04--large.jpg); }

}

@media screen and (min-width: 1024px) {

    .band--01   { background-image: url(img/css/bands/01--huge.jpg); }
    .band--02   { background-image: url(img/css/bands/02--huge.jpg); }
    .band--03   { background-image: url(img/css/bands/03--huge.jpg); }
    .band--04   { background-image: url(img/css/bands/04--huge.jpg); }

}


/**
 * Fix the background on larger screens.
 */
@media screen and (min-width: 1025px) {

    .band {
        background-attachment: fixed;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.25) inset;
    }

}

    /**
     * Pointer arrow.
     */
    .band:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -12px;
        z-index: 1;
        width:  24px;
        height: 24px;
        border: 0 solid #fff;
        border-width: 0 5px 5px 0;
        opacity: 0;
        -webkit-animation: arrow-fade 1.5s 0.5s 1 linear;
           -moz-animation: arrow-fade 1.5s 0.5s 1 linear;
                animation: arrow-fade 1.5s 0.5s 1 linear;
        -webkit-transform: rotate(45deg) translate3d(0, 0, 0);
           -moz-transform: rotate(45deg) translate3d(0, 0, 0);
                transform: rotate(45deg) translate3d(0, 0, 0);
    }

    @-webkit-keyframes arrow-fade {

        from {
            bottom: 48px;
            opacity: 0;
        }

        5% {
            opacity: 1;
        }

        to {
            bottom: 0;
            opacity: 0;
        }

    }

    @-moz-keyframes arrow-fade {

        from {
            bottom: 48px;
            opacity: 0;
        }

        5% {
            opacity: 1;
        }

        to {
            bottom: 0;
            opacity: 0;
        }

    }

    @keyframes arrow-fade {

        from {
            bottom: 48px;
            opacity: 0;
        }

        5% {
            opacity: 1;
        }

        to {
            bottom: 0;
            opacity: 0;
        }

    }

    /**
     * Translucent overlay.
     */
    .band:after {
        content: "";
        position: absolute;
        top:    0;
        right:  0;
        bottom: 0;
        left:   0;
        background-color: rgba(0, 0, 0, 0.25);
    }


/**
 * Optional floating tagline over bands.
 */
.tagline {
    position: absolute;
    top: 50%;
    right: 24px;
    left:  24px;
    z-index: 1;
    font-size: 48px;
    font-size: 3rem;
    line-height: 1;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 0 #000;
}

/**
 * Keep the tagline vertically centred at all sizes. It uses magic
 * numbers, I’m afraid :(
 *
 * 1. When on one line, this is half the band’s height.
 * 2. When on three lines, this is half the band’s height.
 * 3. When on two lines, this is half the band’s height.
 */
.tagline {
    margin-top: -24px; /* [1] */
}

@media screen and (max-width: 422px) {

    .tagline {
        margin-top: -72px; /* [2] */
    }

}

@media screen and (min-width: 422px) and (max-width: 709px) {

    .tagline {
        margin-top: -48px; /* [3] */
    }

}


/**
 * Floating net awards logo over bands.
 */
.net-awards-badge {
    position: absolute;
    right:  24px;
    bottom: 24px;
    z-index: 1;

    > img {
        display: block;
    }

}


/**
 * Tabs.
 */
.tabs {
    list-style: none;
    margin: 0;
    width: 100%;
    display: table;
    table-layout: fixed;
    text-align: center;
    background-color: #f43059;
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 2;
}

    .tabs > li {
        display: table-cell;
        vertical-align: middle;
        border: 0 solid rgba(0, 0, 0, 0.1);
        border-width: 0 1px;
        border-right-color: rgba(255, 255, 255, 0.15);
    }

    .tabs > li:first-child {
        border-left-width: 0;
    }

    .tabs > li:last-child {
        border-right-width: 0;
    }

        .tabs > li > a {
            color: #fff;
            padding: 12px;
            display: block;
            font-weight: 300;
        }

        .tabs__current {
            text-decoration: underline;
            cursor: text;
        }


/**
 * Hovering little logo.
 */
.logo {
    position: absolute;
    top:  24px;
    left: 24px;
    z-index: 1;
}

    .logo__img {
        display: block;
        border-radius: 4px;
    }


/**
 * Page-level stuff.
 */

@media screen and (min-width: 720px) {

    /**
     * Abstract layout into a quasi-grid-system.
     */
    .content {
        margin-left: -72px;
        overflow: hidden;
    }

        .content__item {
            display: inline-block;
            vertical-align: top;
            padding-left: 72px;
        }

        .content__sub {
            width: 35%;
        }

        .content__main {
            width: 65%;
        }

    /**
     * Reversed-order content blocks.
     */
    .content--rev {
        direction: rtl;
        text-align: left;
    }

        .content--rev .content__item {
            direction: ltr;
            text-align: left;
        }

}

.footer {
    font: 75%/1.5 sans-serif;
    background-color: #2a2a2a;
    color: #aaa;
    text-align: center;
}

@media screen and (min-width: 720px) {

    .footer {
        text-align: left;
    }

}

    .footer a {
        color: #fff;
    }


/**
 * Availability.
 */
.availability {
    text-align: center;
    padding: 12px 24px;

    &,
    a {
        color: #fff;
    }

    a {
        font-weight: inherit;
    }

}

.availability--available {
    background-color: #3f990f;
}

.availability--unavailable {
    background-color: #9f102e;
}

/**
 * Simple availability calendar.
 */
.calendar {
    width: 100%;
    table-layout: fixed;
    border-spacing: 1px;
}

    .calendar__half {
        font-weight: 300;
        color: #999;
        font-size: 12px;
        font-size: 0.75rem;
        line-height: 2;
        font-family: sans-serif;
    }

    .calendar__half--first {
        text-align: left;
    }

    .calendar__half--second {
        text-align: right;
    }

    /**
     * 1. Snap cells to the baseline grid.
     * 2. Show the user that there is more information on hover.
     * 3. Kellum method for hiding text.
     * 4. Stop text from pushing cells open even when it’s hidden.
     */
    .calendar__month {
        height: 24px; /* [1] */
        cursor: help; /* [2] */
        text-indent: 100%; /* [3] */
        overflow: hidden; /* [3] */
        white-space: nowrap; /* [3] */
        font-size: 0; /* [4] */
        opacity: 0.5;
        background-color: #3f990f;
        -webkit-transition: 0.5s;
           -moz-transition: 0.5s;
                transition: 0.5s;
    }

    .calendar__month:hover {
        opacity: 1;
    }

    .calendar__month--unavailable{
        background-color: #9f102e;
    }

    .calendar__month--limited {
        background-color: #ea6c00;
    }

    .calendar__month--current {
        border: 5px solid rgba(0, 0, 0, 0.5);
    }


/**
 * Rhetorical intro.
 */
.rhetorical {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1.2;
}

    .rhetorical > dt,
    .rhetorical > dd {
        display: inline;
    }

    .rhetorical > dd {
        margin-left: 0;
        color: #999;
    }


/**
 * Client-list.
 */
.client-list {
    list-style: none;
    margin-left: 0;
    overflow: hidden;
    text-align: center;
}

    .client-list__item {
        padding: 12px;
        border: 0 solid #f0f0f0;
        border-top-width: 1px;
    }

    .client-list__item:first-child {
        border-top-color: transparent;
    }

    @media screen and (min-width: 720px) {

        /**
         * Two-column layout on large enough devices.
         */
        .client-list__item {
            display: inline-block;
            vertical-align: middle;
            width: 50%;
            padding: 24px;
            border-width: 1px 0 0 1px;
        }

        /**
         * Remove the borders from the first two (-n+2) items.
         */
        .client-list__item:nth-of-type(-n+2) {
            border-top-color: transparent;
        }

        /**
         * Remove the borders from the first item in each pair (2n+1).
         */
        .client-list__item:nth-of-type(2n+1) {
            border-left-color: transparent;
        }

        /**
         * Full-width items if it is the first in a theoretical pair,
         * but the second in said pair is not present. Courtesy of
         * Heydon Pickering: heydonworks.com/article/tetris-and-the-power-of-css
         */
        .client-list__item:nth-of-type(2n+1):last-child {
            width: 100%;
        }

    }

        /**
         * 1. Logos are actually mask images, and their colours are set
         *    via CSS.
         * 2. Make all logos much paler when we hover the list of logos.
         * 3. Make the single, currently hovered logo much darker.
         */
        .client-list__logo {
            display: block;
            margin: 0 auto;
            height: auto;
            max-height: 47px;
            background-color: #ddd; /* [1] */
            -webkit-transition: 0.5s;
               -moz-transition: 0.5s;
                    transition: 0.5s;
        }

        .client-list:hover .client-list__logo {
            background-color: #f5f5f5; /* [2] */
        }

        .client-list__item:hover .client-list__logo {
            background-color: #ccc; /* [3] */
        }


/**
 * Buttons. Lifted partly from beautons: github.com/csswizardry/beautons
 */
.btn {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    font-weight: 300;
    line-height: 3;
    padding-right: 24px;
    padding-left:  24px;
    background-color: #f43059;
}

.btn,
    .btn:hover,
    .btn:active,
    .btn:focus,
    .btn:visited {
        text-decoration: none;
        color: #fff;
    }

    .btn:active,
    .btn:focus {
        outline: none;
        position: relative;
        top: 1px;
    }

.btn--full{
    width: 100%;
    padding-right: 0;
    padding-left:  0;
    text-align: center;
}

.btn--large {
    line-height: 6;
}


/**
 * Rules.
 */
.rule {
    border: none;
    height: 1px;
    margin-bottom: 23px;
    background: #f0f0f0;
}

@media screen and (min-width: 720px) {

    .rule--mobile {
        display: none;
    }

}

@media screen and (max-width: 720px) {

    .rule--desktop {
        display: none;
    }

}


/**
 * Pull quotes.
 */
.pull-quote {
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.333333333;
    font-style: italic;
    color: #999;
    padding-left: 24px;
    border-left: 12px solid #f0f0f0;
}

    .pull-quote__source {
        font-style: normal;
    }


/**
 * Quote header.
 *
 * 1. Align text with quote’s indented copy.
 */
.quote-header {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 2;
    margin-bottom: 0;
    padding-left: 36px; /* [1] */
    color: #999;
}


/**
 * Price.
 */
.price {
    text-align: center;
    color: #999;
}

    .price__number {
        color: #666;
        display: inline-block;
        font-size: 64px;
        font-size: 4rem;
        line-height: 1.125;
    }


/**
 * Yellow-fade.
 */
.pull-quote:target {
    outline: 10px solid transparent;
    -webkit-animation: yellow-fade 5s;
       -moz-animation: yellow-fade 5s;
            animation: yellow-fade 5s;
}

@-webkit-keyframes yellow-fade{
    5%{
        background-color:#ffc;
        outline: 10px solid #ffc;
    }
}

@-moz-keyframes yellow-fade{
    5%{
        background-color:#ffc;
        outline: 10px solid #ffc;
    }
}

@keyframes yellow-fade{
    5%{
        background-color:#ffc;
        outline: 10px solid #ffc;
    }
}


/**
 * Misc.
 */
::selection         { background-color: #f43059; color: #fff; }
::-moz-selection    { background-color: #f43059; color: #fff; }
.accessibility {
    position: absolute;
    left: -99999px;
}

    
